@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
    font-family: 'Megrim', cursive;
    font-weight: bold;
}

ul{
    list-style-image: url("./WH98jZl.jpg");
}

li{
    border: solid;
    padding: 10px;
    background-color: tomato;
    font-size: 20px;
    
}